[submodule "external/rang"]
	path = external/rang
	url = https://github.com/agauniyal/rang.git
[submodule "external/boost"]
	path = external/boost
	url = https://github.com/boostorg/boost.git
[submodule "External/rang"]
	path = External/rang
	url = https://github.com/agauniyal/rang.git
[submodule "External/boost"]
	path = External/boost
	url = https://github.com/boostorg/boost.git
[submodule "External/json"]
	path = External/json
	url = https://github.com/nlohmann/json.git
[submodule "External/depot_tools"]
	path = External/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
[submodule "External/v8"]
	path = External/v8
	url = https://chromium.googlesource.com/v8/v8.git
